body {
    font-family: 'Roboto', sans-serif;
    max-width:100%;
    overflow-x: hidden;
    background-color: white;

}

img{
	max-width:100%;
}

a {
    color: black;
}

a:hover {
    color: #353535;
}
ul{
    list-style:none;
}


/*styles corcerning the header*/

#wrapper {
    width: 80%;
    margin:0 auto;
    
}
.towrapper{

    -webkit-transform:translate3d(260px, 0, 0);
    -moz-transform:translate3d(260px, 0, 0);
    -o-transform:translate3d(260px, 0, 0);
    transform:translate3d(260px, 0, 0);
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;

}
#header {
    display: flex;
    flex-direction:row-reverse;
}

#block1,
#block2 {
    flex-grow: 1;
    padding: 25px;
}

#block1{
    display:flex;
    justify-content:flex-end;
}
#block2 {
    display: flex;
    justify-content: flex-start;
}

.logo {
    font-family: 'Oswald', sans-serif;
    border: 2px solid black;
    width: 110px;
    height: 60px;
    float: left;
    text-align: center;
    transition: transform 1s ease-in;
}

.logo:hover {
    transform: rotateY(160deg);
}

.logo h1 {
    font-size: 3em;
}


/*styles corcerning the carousel*/

#jumbo {
    margin-top: 100px;
}

.featured-label {
    background-color: black;
    color: white;
    height: 40px;
    width: 120px;
    position: relative;
    z-index: 990;
    top: 25px;
    left: -20px;
}

.featured-label h3 {
    padding: 5px;
}

.read-label {
    position: relative;
    z-index: 999;
    top: -80px;
    float: right;
    padding-right: 20px;
    cursor: pointer;
    margin-bottom: -80px;
}

.read-label:hover {
    color: #353535;
}

.read-icon {
    width: 50px;
}

.featured-image{

    width:1000px;
    height:300px;

}

/*styles corcerning the content section of site | news and reviews*/

#content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.reviews {
    width: 70%;

}

.news {
    width: 20%;
    display:flex;
    flex-direction:column;
    font-size:0.7em;
}
.news ul{
    margin:0;
    padding:0;
}
.news ul li{
    height:30px;
    border-bottom:1px solid grey;
    display:flex;
    align-items:center;
    color:#950198;
}

.news ul li:hover{
    cursor:pointer;
    color:#b5b5b5;
}

.latest-review, .past-reviews{

	max-width:100%;
	max-height:100%;
    display: flex;
    margin-bottom:40px;
    
}
.sections {
    color: white;
    background-color: black;
    height: 40px;
    width: 160px;
    position: relative;
    z-index: 990;
    top: 25px;
    left: -20px;
}

}
.sections h3 {
    padding:5px;
}

/*images*/
.review-pic {
    width:55%;
    height:300px;
}

/*///////////*/
.caption {
    height:100%;
    width:100%;
    font-size:1em;
    padding:10px;
}
.caption-description  {
    line-height:1.3em;
    width:100%;
    color: #353535;
}
.author{
    font-size:0.5em;
    color:#950198
}
h1,
h2 {
    margin:0;
    padding:0;
}


/***************SLIDE IN MENU*********************/
.slide-in {
    background-color:#353535;
    color:white;
    position:fixed;
    top:0;
    left:0;
    width:250px;
    height:100%;
     margin:0 0 0 -250px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    z-index:999;
    display:none;

}
.slide-in a {
    color:#fff;
}
.visibleNow {
    display:block;
    margin:0;

}
.profile {
    text-align:center;
    padding-top:50px;
}
.profile-pic {
    width:80px;
    height:80px;
    border-radius:50%;
}
.profile ul {
    list-style:none;
    padding:0;
}
.profile ul li {
    display:inline-block;
    font-size:0.7em;
}
.bar{
	width:50%;
}
.nav-nav {
    padding-top:20px;
}
.nav-item {
    list-style:none;
    padding:0px;
}
.first-item {
    font-size:1.2em;
    padding-left:10px;
    height:50px;
}
.first-item:hover{
	color:#596f60;
	cursor:pointer;
}

.nav-item{

}
.menu-items {
    display:none;
    padding-left:20px;
    height:30px;
}
.show-menu-items{
	display:block;
}
.arrow-icon {
    width:15px;
    padding-left:4px;
}

/*********************FOOTER STYLES***************/
#footer {
    width:100%;
    max-height:100%;
    color:white;
    background-color:#353535;
    margin-top:200px;
    padding-top:50px;
    font-size:0.6em;
}
.footer-nav {
    display: flex;
    justify-content:space-between;
    width:80%;
    margin:0 auto;
}

@media screen and (max-width:850px){


    #wrapper{
        width:90%;
    }

    .slide-in{
        width:200px;
    }


	#block2{
		padding-right:0;
	}


	.content{
		justify-content:center;
	}

	.reviews{
		width:100%;
	}

	.footer-nav{
		flex-wrap:wrap;
	}



}


@media screen and (max-width:500px){

.sections {
    font-size:0.7em;
    max-width:100%;
    height:20px;
    left:-15px;
}
.featured-label{
    max-width:100%;
    left:-15px;
    height:20px;
    font-size:0.7em;
}
.featured-image{
    height:200px;
}


.review-pic {
    height:100px;
}

.caption {
    
    font-size:0.7em;
}
.caption-description{

    display:none;
}
.latest-review, .past-reviews{
    border-bottom:1px solid grey;
    padding-bottom:20px;
}
#content{
    flex-direction:column;
}
.news{
    width:100%;
}
#content h5{
    font-size:2em;
    margin:0;
    padding:0;

}
.top{
    display:none;
}













}
