	* {
	    margin: 0;
	    padding: 0;
	    font-family: 'Montserrat', sans-serif;
	   
	}
	#wrapper {
	 
	    width:100%;
	}
	#header {
	    background-color: #ec8a84;
	    padding: 30px;
	    color: white;
	    height: 20%: ;
	    display: flex;
	    margin-bottom: 50px;
	}
	#content {
	    display: flex;
	    flex-direction: row;
	    width:100%;
	}
	#a {
	  
	    height: 75%;
	    width:30%;
	}
	#a p {
	    width: 80%;
	    font-size: 0.8em;
	    padding-left:20px;
	    line-height: 1.5em;
	    color: grey;
	}
	#b {
	    display:flex;
	    width:70%;
	    flex-direction: row;
	    flex-wrap:wrap;
	}
	/*background-color: #d67ee0;*/
	
	#description {
	    background-color: rgba(214, 126, 224, 0.8);
	    width: 100%;
	    transition: height 0.5s ease;
	    height: 50%;
	    color: black;
	    align-self: flex-end;
	    display: flex;
	    align-items: center;
	    box-shadow: 0px 5px 5px 0px #443446;
	}
	#description:hover {
	    height: 90%;
	}
	.title {
	    color: white;
	    background-color: black;
	    padding: 5px;
	    width: 50%;
	    text-align: center;
	}
	a {
	    color: white;
	    text-decoration: none;
	}
	.item{
			width:40%;
			height:200px;
			margin:1%;
	}
	#class1 {
	    background: url('../img/color.jpeg');
	    background-size: cover;
	
	    display: flex;
	  
	}
	#class2 {
	    background: url('../img/color2.jpg');
	    background-size: cover;
	   
	    display: flex;
	   
	}
	#class3 {
	    background: url('../img/color3.jpg');
	    background-size: cover;
	 
	    display: flex;
	     
	}
	#class4 {
	    background: url('../img/color4.jpg');
	    background-size: cover;
	   
	    display: flex;
	  
	}
	#class5 {
	    background: url('../img/color5.jpg');
	    background-size: cover;
	 
	    display: flex;
	  
	}
	#footer {
	    background-color:#fff;
	    font-size: 8px;
	    text-align: center;
	    margin-top:3%;
	    height:300px;
	    padding-top:200px;

	}

	@media (max-width: 600px) { 

		.item{
			height:100px;
		}

		#content{
			flex-direction:column;
		}

		#a, #b {
			width:100%;
			text-align:center;
		}

		#a{
			margin-bottom:100px;
			padding:10px;
		}

		#a p{
			width:100%;
			font-size:0.6em;
			padding-left:0;
			padding-top:20px;

		}

		#b{
			flex-direction:column;


		}

		.item{
			width:70%;
			margin:0 auto;
			margin-bottom: 30px;
		}


	}