body{
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
	color:black;
}
a:active{
	color:black;
}
a:hover{
	color:red;
}

#head{
	background-color: black;
	height:800px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.logo{
	width:150px;
	height:150px;
}
span p{
	color:white;

}
#content{
	text-align:center;
}
#content p{
	line-height:1.5em;
}
#content h1{
	margin: 100px;

}

#footer{
	background-color:black;
	height:120px;
	text-align:center;
	padding:50px;
}